body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;
  background: url('../img/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

#hero {
  width: 100%;
  height: 80vh;
  /* background-image: url(); */
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #073763;
}

#hero h2 {
  color: #073763;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 15px 0 0;
  /* Añade margen derecho de 15px entre los botones */
  color: #fff;
  background: #999;
}


@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#footer {
  font-size: 14px;
  /* background: #37517e; */
}

#footer .footer-bottom {
  padding-top: 100px;
  padding-bottom: 30px;
  color: #073763;
}

#footer .copyright {
  float: left;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }
}

/* Estilos para la barra superior */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #073763;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  /* Asegura que la barra esté por encima de otros elementos */
}

/* Estilos para el contenedor de texto animado */
.scrolling-text-container {
  position: absolute;
  white-space: nowrap;
  /* Evita que el texto se desborde a la siguiente línea */
  left: 0;
  right: 0;
  animation: scrollText 15s linear infinite;
  /* Animación para desplazar el texto */
}

/* Animación para desplazar el texto de izquierda a derecha */
@keyframes scrollText {
  0% {
    transform: translateX(100vw);
    /* Comienza fuera del contenedor a la derecha */
  }

  100% {
    transform: translateX(-100%);
    /* Termina completamente fuera del contenedor a la izquierda */
  }
}

/* Estilos base para el banner flotante */
.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9996; /* Ajustado para estar por debajo del otro elemento flotante */
  max-width: 600px; /* Ancho máximo del banner */
}

.floating img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 8px; /* Añade bordes redondeados si lo deseas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar el banner */
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
  .floating {
      bottom: 70px; /* Distancia del borde inferior en dispositivos pequeños */
      right: 50%; /* Centrar horizontalmente */
      transform: translateX(50%); /* Ajustar para centrar */
      width: calc(100% - 40px); /* Ajustar el ancho del banner para que ocupe el 100% del viewport menos los márgenes */
      max-width: none; /* Deshacer la limitación de ancho máximo */
  }
}

/* Estilos para el otro elemento flotante */
.banner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9997; /* Ajustado para estar por encima del banner flotante */
}

.banner {
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.video-wrapper {
  max-width: 900px;
  width: 100%;
  max-height: calc(100vw * 0.9 * 0.5625);
  height: auto;
  position: relative;
}

#videoPlayer {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9998;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background-color: #999;
  color: #ffffff;
}


@media only screen and (max-width: 600px) {
  .banner-container {
      padding-top: 75%;
  }

  .video-wrapper {
      max-width: 100%;
      max-height: 100%;
  }
}
